<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Theme Simply Me</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

 	<!-- Mixmax SDK -->
  	<script defer src="https://d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="script.js"></script>
</head>
<style>

	.body {
		background-color: #a014be;
		color: white;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
	}
	.header {
		height: 50px;
		background-color: #780F8E;
		width: 100%;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
		box-shadow: rgba(0, 0, 0, 1) 0px 4px 4px;
	}
	.header-text {
		padding-top: 10px;
		color: white;
	}
	.container-fluid {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 20px;
		background-color: #a014be;
		height: 100%;
		color:white;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
		font-weight: lighter;
	}
	hr {
		border: 0;
		clear:both;
		display:block;
		width: 76%;               
		background-color:white;
		height: 1px;

	}
	.progress {
		box-shadow: 0px 0px 10px #fff;
	}
	.panel {
		background-color: #EEEEEE;
		border: 0px;
	}
	.progress-bar-fear {
		background-color: blueviolet;
	}
	.progress-bar-sad {
		background-color: #4A90E2;
	}

	
	.button {
		border-radius:5px;
		background-color: white;
		color: #a014be;
		border-color: rgba(160,20,190,0.35);
		border-width: 0 0 2px 0;
		width: 150px;
		height: 40px;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
		transition: all 150ms ease-in-out;
	}
	.button:hover {
		background-color: rgba(98,12,116,0.97);
		color: white;
	}

	
	#email-text {
		background: #C89BD2;
		border-color: #780F8E;
		border-width: 2px 2px 2px 2px;
		 -webkit-box-shadow:inset 0px 0px 0px 3px #780F8E;
    -moz-box-shadow:inset 0px 0px 0px 3px #780F8E;
    box-shadow:inset 0px 0px 0px 3px #780F8E;
    color: white;
    padding-top:10px;
    padding-left: 15px;


	}
	
</style>
<body>
	<div class="header text-center">
		<p class="lead header-text">Enter Your Email Message Below</p>
	</div>
	<div class="container-fluid">
		<div class="row text-center">
			<p>Enter your message into the textbox below and hit <i>ANALYZE</i> in order to create a tone summary</p>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label style="font-size: 16px;">Message</label>
					<form method="post" action="/" class="text-center myForm">
						<textarea class="form-control" name="text" id="email-text" value="text" style="height:400px;"><%= text %></textarea>
						<br>
						<input type="submit" value="Analyze" class="button submit" />

						<input type="button" value="Insert" class="button  js-insert" style="margin-top: 10px;"/>
					</form>

				
				</div>
			</div>
			<div class="col-md-6">
				<label style="font-size: 16px;">Analysis</label>
				<!--<div class="panel panel-default" style="height:450px">
				<div class="panel-body">-->
					<div class="row">
						<div class="col-md-6"
						<% for(var i=4; i<emotionArray.length; i++) {%>
						<label><%= emotionArray[0].name %> </label>
						<div class="progress">
							<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[0].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[0].value%>%'></div>
						</div>
						<label><%= emotionArray[1].name %> </label>
						<div class="progress">
							<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[1].value%>%'></div>
						</div>
						<label><%= emotionArray[2].name %> </label>
						<div class="progress">
							<div class="progress-bar progress-bar-fear progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[2].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[2].value%>%'></div>
						</div>
						<label><%= emotionArray[3].name %> </label>
						<div class="progress">
							<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[3].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[3].value%>%'></div>
						</div>
						<label><%= emotionArray[4].name %> </label>
						<div class="progress">
							<div class="progress-bar progress-bar-sad progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[4].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[4].value%>%'></div>
						</div>
						<% } %>
					</div>
					<div class="col-md-6"
					<% for(var i=2; i<languageArray.length; i++) {%>
					<label><%= languageArray[0].name %> </label>
					<div class="progress">
						<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[0].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[0].value%>%'></div>
					</div>
					<label><%= languageArray[1].name %> </label>
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[1].value%>%'></div>
					</div>
					<label><%= languageArray[2].name %> </label>
					<div class="progress">
						<div class="progress-bar progress-bar-fear progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[2].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[2].value%>%'></div>
					</div>

					<% } %>
				</div>
				
			</div>
		</div>
	</div>
</div>
</body>
</html>