<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Theme Simply Me</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

	.body {
		background-color: #EEEEEE;
	}
	.header {
		height: 50px;
		background-color: red;
	}
	.header-text {
		padding-top: 10px;
		color: white;
	}
	.container-fluid {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 20px;
		background-color: #EEEEEE;
		height: 100vh;
	}
	hr {
		border: 0;
		clear:both;
		display:block;
		width: 76%;               
		background-color:black;
		height: 1px;
	}
	.progress {
		box-shadow: 0px 0px 10px #fff;
	}
	.panel {
		background-color: #EEEEEE;
		border: 0px;
	}
	.progress-bar-fear {
		background-color: blueviolet;
	}
	.progress-bar-sad {
		background-color: grey;
	}
</style>
<body>
	<div class="row header text-center">
		<p class="lead header-text">Enter Your Email Message Below</p>
	</div>
	<div class="container-fluid">
		<div class="row text-center">
			<p>Enter your message into the textbox below and hit <i>ANALYZE</i> in order to create a tone summary</p>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Message</label>
					<form method="post" action="/add" class="text-center">
						<textarea class="form-control" name="txt" id="email-text" value="<?php echo $_GET['txt'];?>" style="height:400px"></textarea>
						<br>
						<input type="submit" value="Submit" class="btn-primary" style="width:200px"/>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<label>Analysis</label>
				<!--<div class="panel panel-default" style="height:450px">
					<div class="panel-body">-->
					<div class="row">
					<div class="col-md-6"
  							<% for(var i=4; i<emotionArray.length; i++) {%>
   							 <label><%= emotionArray[0].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[0].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[0].value%>%'></div>
   							 </div>
   							 <label><%= emotionArray[1].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[1].value%>%'></div>
   							 </div>
   							 <label><%= emotionArray[2].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-fear progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[2].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[2].value%>%'></div>
   							 </div>
   							 <label><%= emotionArray[3].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[3].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[3].value%>%'></div>
   							 </div>
   							 <label><%= emotionArray[4].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-sad progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[4].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[4].value%>%'></div>
   							 </div>
  							<% } %>
   					</div>
   					<div class="col-md-6"
  							<% for(var i=2; i<languageArray.length; i++) {%>
   							 <label><%= languageArray[0].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[0].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[0].value%>%'></div>
   							 </div>
   							 <label><%= languageArray[1].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[1].value%>%'></div>
   							 </div>
   							 <label><%= languageArray[2].name %> </label>
   							 <div class="progress">
   							 	<div class="progress-bar progress-bar-fear progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[2].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[2].value%>%'></div>
   							 </div>
   							 
  							<% } %>
   					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>