<!DOCTYPE html>
<html lang="en">
<head>
	<title>MixMax Boilermake</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Mixmax SDK -->
	<script defer src="https://d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.2/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.2/sweetalert2.min.js"></script>

	<!--ProgressJS-->
	<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">


</head>
<style>
	body {
		background-color: #a014be;
		color: white;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
	}
	.header {
		height: 50px;
		background-color: #780F8E;
		width: 100%;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
	}
	.header-text {
		padding-top: 10px;
		color: white;
	}
	.container-fluid {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 20px;
		padding-bottom: 50px;
		background-color: #a014be;
		height: 100%;
		color:white;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
		font-weight: lighter;
	}
	hr {
		border: 0;
		clear:both;
		display:block;
		width: 76%;               
		background-color:white;
		height: 1px;

	}
	.progress {
		box-shadow: 0px 0px 5px #000
		margin-top: -5px;
		margin-bottom: 9px;

	}
	.panel {
		background-color: #EEEEEE;
		border: 0px;
	}
	.progress-bar-fear {
		background-color: blueviolet;
	}

	.progress-bar-danger {
		background-color: #D91E18;

	}


	.progress-bar-sad {
		background-color: #4A90E2;
	}
	.progress-bar-tent {
		background-color: grey;
	}
	.progress-language {

	}
	.header-text {
		margin-top: 5px;
	}

	
	.button {
		border-radius:5px;
		background-color: white;
		color: #a014be;
		border-color: rgba(160,20,190,0.35);
		border-width: 0 0 2px 0;
		width: 150px;
		height: 40px;
		font-family: 'Roboto', 'Helvetica Neue', 'Trebuchet MS', 'Segoe', Helvetica, Arial, sans-serif;
		transition: all 150ms ease-in-out;
	}
	.button:hover {
		background-color: rgba(98,12,116,0.97);
		color: white;
	}

	
	#email-text {
		background: white;
		border-color: #780F8E;
		border-width: 4px 4px 4px 4px;
		color: black;
	}
	.logo {
		height: 60px;
		margin-top: 6px;
		margin-left: 20px;

	}
	.header-text {
		margin-left: 90px;
		font-size: 40px;
	}
	.header {
		height: 70px;
	}

	.footer {
		position: absolute;
		right: 0;
		bottom: 0px;
		color: white;
		left: 0;
		padding: 1rem;
		text-align: center;
		background-color: #780F8E;
	}

	.navbar-header {
		height: 100%;
	}

	.navbar-default {

		border:none;
		background-color: #780F8E;

	}
	#h5 {
		font-family: 'Montserrat', sans-serif;
	}
	.progress > svg {
		height: 100%;
		display: block;
	}

	.popover-content{
		color: #fff !important;/*black color*/
	}

	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}

	.info {
		
		margin-top: -7px;
		color:white;
	}

	.popover{
		background: rgba(0,0,0,.85);
	}
	
	.popover.bottom .arrow:after { 
		border-bottom-color: (0,0,0,.85);
	}
	.popover.top .arrow:after { 
		border-top-color: rgba(0,0,0,.85);
	}

	.popover.bottom {
		margin-top: -10px;
		text-align: center;
	}

	#h5 {
		font-family: 'Montserrat', sans-serif;
	}

	.logo {
		margin-left: 0px;
		height: 50px;
	}

	


</style>
<body>
	<nav class="navbar header navbar-default " style="border-radius:0px; height:90px; margin-bottom: 0px;">

		<div class="container">


			<div class="navbar-brand">



				<img class="logo" src="bmake.png">

			</div>
			<div id="navbar" class="navbar-collapse collapse">

				<ul class="nav navbar-nav " style="text-align:center; margin-top:40px;">

					<li><p style="font-size: 30px; color:white; font-weight: 100;"><strong>express</strong>://Analysis</p></li> 
					
					<li>

						<a href="#" title="About" data-toggle="popover" data-placement="bottom" data-content="Content"><div><p class="fa fa-info-circle info fa-2x" aria-hidden="true"></p></div></a>
						
					</li>

				</ul>

			</div><!--/.nav-collapse -->
		</div>

	</nav>

	<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover();   
		});
		var isMixmax = !!window.opener;
		if(isMixmax) {

			$(".js-insert").hide();
			console.log(isMixmax);
		}
	</script>

	<div class="container-fluid">
		<div class="row text-center">
			<p>Enter your message into the textbox below and hit analyze in order to create a tone summary</p>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label style="font-size: 16px;">Message</label>
					<form method="post" action="/" class="text-center myForm">
						<textarea class="form-control" name="text" id="email-text" value="text" style="height:400px;"><%= text %></textarea>
						<br>
						<input type="submit" value="Analyze" class="button submit" data-toggle="popover" data-placement="top" data-content="Content"/>

						<input type="button" value="Insert" class="button js-insert" style="margin-top: 10px;" data-toggle="popover" data-placement="top" data-content="Content"/>
					</form>


				</div>
			</div>
			<div class="col-md-6">
				<label style="font-size: 16px;">Analysis</label>
				<!--<div class="panel panel-default" style="height:450px">
				<div class="panel-body">-->
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6"
							<% for(var i=4; i<emotionArray.length; i++) {%>
							<p>Anger</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Anger: Evoked due to injustice, conflict, humiliation, negligence or betrayal. If anger is active, the individual attacks the target, verbally or physically.">
								<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[0].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[0].value%>%'></div>
							</div>
							<p>Disgust</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Disgust: An emotional response of revulsion to something considered offensive or unpleasant. It is a sensation that refers to something revolting.">
								<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[1].value%>%'></div>
							</div>
							<p>Fear</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Fear: A response to impending danger. It is a survival mechanism that is a reaction to some negative stimulus. It may be a mild caution or an extreme phobia.">
								<div class="progress-bar progress-bar-fear progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[2].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[2].value%>%'></div>
							</div>
							<p>Joy</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Joy: Joy or happiness has shades of enjoyment, satisfaction and pleasure. There is a sense of well-being, inner peace, love, safety and contentment.">
								<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[3].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[3].value%>%'></div>
							</div>
							<p>Sadness</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Sadness: Indicates a feeling of loss and disadvantage. When a person can be observed to be quiet, less energetic and withdrawn, it may be inferred that sadness exists.">
								<div class="progress-bar progress-bar-sad progress-bar-striped active" role="progressbar" aria-valuenow='<%=emotionArray[4].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=emotionArray[4].value%>%'></div>
							</div>
							<% } %>
						</div>
						<div class="col-md-6">
							<% for(var i=2; i<languageArray.length; i++) {%>
							<p>Analytical</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Analytical: A person's reasoning and analytical attitude about things.">
								<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[0].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[0].value%>%'></div>
							</div>
							<p>Confident</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Confident: A person's degree of certainty.">
								<div class="progress-bar progress-bar-sad progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[1].value%>%'></div>
							</div>
							<p>Tentative</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Tentative: A person's degree of inhibition.">
								<div class="progress-bar progress-bar-tent progress-bar-striped active" role="progressbar" aria-valuenow='<%=languageArray[2].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=languageArray[2].value%>%'></div>
							</div>
							<% } %>
							<% for(var i=4; i<socialArray.length; i++) {%>
							<p>Conscientious</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Conscientiousness: The tendency to act in an organized or thoughtful way.">
								<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow='<%=socialArray[1].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=socialArray[1].value%>%'></div>
							</div>
							<p>Agreeable</p>
							<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Agreeableness: The tendency to be compassionate and cooperative towards others.">
								<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow='<%=socialArray[3].value%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=socialArray[3].value%>%'></div>
							</div>
							<% } %>
						</div>
					</div>
					<div class="col-md-12">
						<br>
						<br>
						<style> 
							.result {
								background-color: <%=color%>;
							}
						</style>
						<div class="progress" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Content">
							<div class="progress-bar progress-bar-success progress-bar-striped active result" role="progressbar" aria-valuenow='<%=coeff%>' aria-valuemin="0" aria-valuemax="100" style='width:<%=coeff%>%'></div>
						</div>
					</div>
				</div>
			</div>

			<script>

			if(<%= emotionArray[0].value%> > 50 && <%= socialArray[1].value%> < 40) {
				swal({
				  title: "Don't be a bully!",
				  text: "Your email seems like it will be used to bully someone.",
				  type: "warning",
				  confirmButtonColor: "#780F8E",
				  confirmButtonText: "OK",
				});
			}
			</script>

		</div>
	</div>
</div>
<br>
<br>
<script>
	$(document).ready(function(){
		$('[data-toggle="popover"]').popover();   
	});
</script>
<script src="script.js"></script>
<div class="footer">Made with &nbsp;<span><img style="height:15px;margin-bottom:5px;" src="heart.png"></span> &nbsp;and &nbsp; <span><img style="height:17px;margin-bottom:5px;" src="js.png"></span> &nbsp;at BoilerMake 2017.</div>
</body>
</html>